h1{
    color:rgb(47, 101, 216);
    /* text-decoration: line-through; */
}
.re{
    color:Red;
    /* text-decoration: line-through; */
}
.or{
    color:orange;
    /* text-decoration: line-through; */
}
#yg{
    color:yellowgreen;
    /* text-decoration: line-through; */
}
.re{
    color:Red;
}
    

